/vendor/
/node_modules/
/public/build
/public/hot
/.env
/.env.*
/storage/*.key
/storage/app/public
/.phpunit.result.cache
/npm-debug.log
/yarn.lock
/pnpm-lock.yaml
/Tabel3_Hasil_Pengujian.csv
/Tabel3_Identifikasi_Rencana_Pengujian.csv
